<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-vra-index") %>>
          <a href="/docs/providers/vra/index.html">VMware Cloud Automation Services Provider</a>
        </li>

        <li<%= sidebar_current("docs-vra-datasource") %>>
        <a href="#">Data Sources</a>
            <ul class="nav nav-visible">
                <li<%= sidebar_current("docs-vra-datasource-cloud-account-aws") %>>
                    <a href="/docs/providers/vra/d/cloud_account_aws.html">cloud_account_aws</a>
                </li>
                <li<%= sidebar_current("docs-vra-datasource-cloud-account-azure") %>>
                    <a href="/docs/providers/vra/d/cloud_account_azure.html">cloud_account_azure</a>
                </li>
                <li<%= sidebar_current("docs-vra-datasource-image") %>>
                    <a href="/docs/providers/vra/d/image.html">image</a>
                </li>
                <li<%= sidebar_current("docs-vra-datasource-project") %>>
                    <a href="/docs/providers/vra/d/project.html">project</a>
                </li>
                <li<%= sidebar_current("docs-vra-datasource-region") %>>
                    <a href="/docs/providers/vra/d/region.html">region</a>
                </li>
            </ul>
        </li>

        <li<%= sidebar_current("docs-vra-resources") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-vra-resource-block-device") %>>
              <a href="/docs/providers/vra/r/block_device.html">vra_block_device</a>
            </li>
            <li<%= sidebar_current("docs-vra-resource-cloud-account-aws") %>>
              <a href="/docs/providers/vra/r/cloud_account_aws.html">vra_cloud_account_aws</a>
            </li>
            <li<%= sidebar_current("docs-vra-resource-cloud-account-azure") %>>
              <a href="/docs/providers/vra/r/cloud_account_azure.html">vra_cloud_account_azure</a>
            </li>
            <li<%= sidebar_current("docs-vra-resource-flavor") %>>
              <a href="/docs/providers/vra/r/flavor.html">flavor</a>
            </li>
            <li<%= sidebar_current("docs-vra-resource-image-profile") %>>
              <a href="/docs/providers/vra/r/image_profile.html">image_profile</a>
            </li>
            <li<%= sidebar_current("docs-vra-resource-load-balancer") %>>
              <a href="/docs/providers/vra/r/load_balancer.html">load_balancer</a>
            </li>
            <li<%= sidebar_current("docs-vra-resource-machine") %>>
              <a href="/docs/providers/vra/r/machine.html">machine</a>
            </li>
            <li<%= sidebar_current("docs-vra-resource-network") %>>
              <a href="/docs/providers/vra/r/network.html">network</a>
            </li>
            <li<%= sidebar_current("docs-vra-resource-project") %>>
              <a href="/docs/providers/vra/r/project.html">project</a>
            </li>
            <li<%= sidebar_current("docs-vra-resource-zone") %>>
              <a href="/docs/providers/vra/r/zone.html">zone</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>
  <%= yield %>
<% end %>
